.current {
    background-color: #E3C66F;
    margin-top: 25px;
    margin-bottom: 50px;
}

h1 {
    margin-top: 0px;
    margin-right: 270px;
}

form {
    margin-top: 80px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    border-color: lightgrey;
    border-style: solid;
    border-collapse: separate;
    border-width: thin;
}

.name {
    margin-top: 75px;
    margin-right: 150px;
    margin-bottom: 50px;
}

.secname {
    margin-top: 200px;
    margin-right: 200px;
}

button {
    width: 85%;
}

.aid {
    margin-left: 0px;
}

.info {
    margin-right: 245px;
}

input {
    width: 85%;
    margin-bottom: 25px;
}

ul {
    list-style: none;

}

li {
    display: inline;
    text-align: center;
    margin-left: 75px;
}

h5 {
    margin-bottom: 15px;
}

.help {
    margin-left: 150px;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: row;
}

hr {
    margin-top: 75px;
}

.fa-regular fa-copyright {
    margin-right: 50px;
    text-align: center;
}


i {
    margin-right: px;
    text-size-adjust: 5px;
    text-align: center;
}